
@{
    ViewData["Title"] = "WelcomePage";
}

<h1>WelcomePage</h1>

<div class="text-center align-content-center">
    <img src="~/Images/Logo.png" style="width: 150px; height: 150px;" />
    <p class="text-center">We are conducting a seminar on MVC 6 core. Please register yourself on the given link</p>

</div>
<h4 class="text-center">
    <a asp-action="SeminarRegistration" asp-controller="Home">Particiants Registration</a>

</h4>